<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- IIS 配置 -->
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\VacantRoomWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<!-- 直接设置敏感配置到环境变量 -->
				<environmentVariable name="AdminConfig__Username" value="admin_origami" />
				<environmentVariable name="AdminConfig__PasswordHash" value="JZbYNmQ8Yi6IRfEht363YGJgjY5eaB7UsfyggX953KQ=" />
				<environmentVariable name="AdminConfig__Salt" value="2BfcmATnJ9qH8oMxrOXqn7JFwQ+mbf5QdGwv76nFmjI=" />
				<environmentVariable name="AdminConfig__SecretKey" value="mflfYqSSkeacMKzgcH4faGv6FcpYEme9ssPwUEVplacVPYTgYwvomwGkftir+lqdvPolUbsilnmX97vcXeyqCA==" />
				<environmentVariable name="Email__NotifyHubAPI__BaseUrl" value="https://notify.origami7023.cn" />
				<environmentVariable name="Email__NotifyHubAPI__ApiKey" value="default-api-key-2024" />
				<environmentVariable name="Email__DefaultRecipient" value="origami7023@gmail.com" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>